.big-heading {
    font-size: 28px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    padding: 15px 10px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    width: 70%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: x-large;
    padding: 25px 50px;
    text-align: center;
}

hr {
  border-top: 10px solid #494946 !important;
  border-radius: 5px !important;
}

.loginregister-link {
   font-size: 18px;
}

table {
  margin: auto;
}

.labels {
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

.fields {
   width: 200px;
   height: 30px;
   border: 1px solid black;
   box-sizing: border-box ;
   border-radius: 4px;
   margin: 10px 10px;
   font-size: x-large;
}

.buttons {
  width: 150px;
  margin-top: 50px;
  border-radius: 8px;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

/*waiting page*/
.log-out {
    color: #00008B !important;
    position: absolute;
    top: 30px;
    right: 100px;
    font-size: 20px;
}


.players {
   padding-top:25px;
}

.players-label {
   text-align: center;

}


.player-list{
 list-style-type: none;
}

.player-num{
   margin-top: 150px;
}


