.big-heading {
    font-size: 28px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    padding: 15px 15px;
}

#id_name_of_site {
    margin-left: 120px;
    margin-right: 40px;
}

hr {
  border-top: 10px solid #494946 !important;
  border-radius: 5px !important;
}

.loginregister-link {
   font-size: 18px;
}

#id_logged_in_username {
  float: right;
  margin-right: 100px;
  margin-top: 20px;
  font-size: x-large;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: x-large;
    text-align: center;
    padding-bottom: 10px;
}

table {
  margin: auto;
}

.labels {
  font-size: 22px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

.fields {
   width: 200px;
   height: 30px;
   border: 1px solid black;
   box-sizing: border-box ;
   border-radius: 4px;
   margin: 10px 10px;
   font-size: x-large;
}

.buttons {
  width: 150px;
  margin-top: 50px;
  border-radius: 8px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

/*waiting page*/
.log-out {
    color: #00008B !important;
    position: absolute;
    top: 100px;
    right: 100px;
    font-size: 18px;
}

.players {
   padding-top:25px;
}

.players-label {
   text-align: center;
    padding-left: 0 !important;
}

.player-list{
 list-style-type: none;
}

.player-num{
   margin-top: 150px;
}


/*game page*/


img {
  width: 100px;
  height: 100px;
}

#site_img {
  width: 60px;
  height: 60px;
}

.row {
   margin-left: 0 !important;
   margin-right: 0 !important;
   margin-bottom: 10px;
}

#chatbox {
    text-align:left;
    margin-top: 20px;
    margin-bottom:0;
    padding: 20px 20px 20px 20px;
    background:#fff;
    height:450px;
    width:480px;
    border:2.5px solid;
    overflow:auto;
    font-size:large;
}

.chat-username {
   color: #29647A;
}

#message_input {
   width: 480px;
   height: 50px;
   border: 2.5px solid black;
   box-sizing: border-box ;
   border-radius: 4px;
   margin: 15px 0;
   font-size:large;
}

#message_button {
  width: 100px;
  margin-top: 5px;
  border-radius: 8px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-left: 120px;
}

#game_chat_title {
  margin-left: 80px;
  text-align: center;
}

.username {
  font-size: 15px;
}

#identity {
   text-align: left;
}

.confirm-button {
   width: 80px;
   border-radius: 3px;
   border-width: 0.5px;
   padding: 5px 5px;
   text-align: center;
   font-size: 15px;
}

#next_step_button {
    margin-top: 50px;
    margin-left: 50px;
    width: 120px;
    font-size: 16px;
    border-radius: 3px;
    border-width: 0.5px;
    padding: 5px 5px;
    text-align: center;
}

.button-container {
   height: 30px;
}

.message-time {
  font-family: Arial, Helvetica, sans-serif;
}


.system-message {
   font-family: Arial, Helvetica, sans-serif;
   color: #F87B00;
}

#show_end_game {
    color: #F87B00;
}