{% extends "werewolves/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row" id="canvas">
        <div class="col-md-12 col-lg-12">
            <div class="game col-md-8 col-lg-8">
                <div class="row justify-content-center" id="avatars_row_1">
                    <div class="col-md-3 col-lg-3">
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <a href="#" id="player_1">
                            <img src="{% static "werewolves/goodavatar.png" %}">
                        </a>
                        <div class="username"> {{number}}{{username}} 1 Sofronia </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                    </div>
                </div>
                <div class="row justify-content-center" id="avatars_row_2">
                    <div class="col-md-1 col-lg-1">
                        <a href="#" id="player_2">
                            <img src="{% static "werewolves/goodavatar.png" %}">
                        </a>
                        <div class="username"> {{number}}{{username}} 2 xxx </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <a href="#" id="player_6">
                            <img src="{% static "werewolves/badavatar.png" %}">
                        </a>
                         <div class="username"> {{number}}{{username}} 6 xxx </div>
                    </div>
                </div>
                <div class="row justify-content-center" id="avatars_row_3">
                    <div class="col-md-1 col-lg-1">
                        <a href="#" id="player_3">
                            <img src="{% static "werewolves/badavatar.png" %}">
                        </a>
                         <div class="username"> {{number}}{{username}} 3 xxx </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <a href="#" id="player_5">
                            <img src="{% static "werewolves/goodavatar.png" %}">
                        </a>
                         <div class="username"> {{number}}{{username}} 5 xxx </div>
                    </div>
                </div>
                <div class="row justify-content-center" id=" avatars_row_4">
                    <div class="col-md-3 col-lg-3">
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <a href="#" id="player_4">
                            <img src="{% static "werewolves/goodavatar.png" %}">
                        </a>
                         <div class="username"> {{number}}{{username}} 4 xxx </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                    </div>
                </div>
                <div class="row justify-content-center" id="identity">
                    Your identity is: Werewolf {{identity}}
                </div>
            </div>
            <div class="chat col-md-4 col-lg-4">
                <div id="game_chat_title">
                        Game Chat
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4 col-lg-4">
                        <div id="chatbox"></div>
                    </div>
                </div>
                <div class="row justify-content-left">
                    <form name="message" action="">
                        <input type="text" id="message_input"/>
                        <input class="buttons" type="submit" id="message_button" value="Send"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

