{% extends "werewolves/base.html" %}

{% block content %}
<div id="register_page">

    <form method="post" action="{% url 'register' %}">
        <table class="table-content">
            {% for field in form.visible_fields %}
            <tr>
                <td class="label">{{field.label_tag}}</td>
                <td class="fields">{{field}}</td>
                <td class="errorlist">
                    {% for error in field.errors %} {{error}} {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% csrf_token %}
        <button type="submit" class="btn" id="id_register_button">Register</button>
    </form>

    <div>
        <a href="{% url 'login' %}" class="loginregister-link" id="id_login_link">
            Login
        </a>
    </div>

    {% for error in form.non_field_errors %}
    <p class="errorlist">
        {{ error }}
    </p>
    {% endfor %}
</div>

{% endblock %}
