{% extends "werewolves/base.html" %}

{% block content %}
<a href="{% url 'login' %}" class="log-out" id="id_logout">Exit the Game</a>
<div class="players">
    <div class="players_label"> Players: </div><br>
    <ul class="player-list" id="id_player_list">
        <li id="id_player_1"> Sofronia</li>
        <li id="id_player_2"> Pycachu</li>
    </ul>
</div>

<div class="player-num">
    {{usercount}} 1 / 6
</div>

<div class="player-joined">
    {{username}} Pycachu Joined
</div>

<div>
    <button class="buttons" id="id_start_game_button"> Start</button>
    <span id="error" class="error"></span>
</div>

</section>

{% endblock %}
