{% extends "werewolves/base.html" %}

{% block content %}
<a href="{% url 'login' %}" class="log-out" id="id_logout">Exit the Game</a>
<div class="players">
    <div class="players_label"> Players: </div><br>
    <ul class="player-list" id="id_player_list">
        <li id="id_player_1"> Sofronia</li>
        <li id="id_player_2"> Pycachu</li>
    </ul>
</div>

<div class="player-num">
    {{usercount}} 1 / 6
</div>

<div class="player-joined">
    {{username}} Pycachu Joined
</div>

<div>
    <form method="get" action="{% url 'game' %}">
    <button class="buttons" id="id_start_game_button" onclick="joinGame()" disabled> Start</button>
    <span id="error" class="error"></span>
    </form>
</div>

</section>

{% endblock %}

<script>
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/werewolves/waiting-room'
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        if (data.message === 'Start Game') {
            // render a view of the game
        }
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };

    function joinGame() {

    }

    function exitGame() {
        
    }
</script>